@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* ALL */
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

/* SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  
.html {
  scroll-behavior: smooth;
}

/* LANDING PAGE */
.img-container {
  float: left;
  width: 50%;
  padding: 5px;
}


.dropdown-menu {
  color: white;
  background-color: black;
}

.dropdown-item {
  color: white;
}


.dropdown-item:active {
  background-color: yellow;
  color: black;
}



.title {
  padding-top: 20px;
}

img {
  padding-right: 10px;
}

.second {
  margin-top: -15px;
  padding-top: 0;
}

.row {
  padding-top: 1rem;
}

.box {
  padding: 1rem;
  background-color: #101010;
}

.comp {
  padding-left: 5rem;
}


.title {
  text-align: center;
  padding-bottom: 1rem;
}

.text {
  text-align: center;
  padding-top: 1rem;
  font-weight: 600;
  font-size: 20px;
}

td, th {
  text-align: center;
  padding: 10px;
  border: #707070 solid 2px;
  padding-left: 1rem;
}






  