@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* ALL */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}


/* SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  
.html {
  scroll-behavior: smooth;
}

/* NAVBAR */


/* DROPDOWN */


/* HAMBURGER  */


/* FOOTER STYLING  */


/* HEADER */


/* CARD */


/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .const .max-width {
    margin-left: 0px;
  }
} 
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
  